.app {
  background: linear-gradient(135deg, #fff 0%, rgba(70, 97, 115, 0.8) 100%);
  padding-bottom: 60px;
  min-height: 100vh;
  &__header {}

  &__content {}

  &__top {
    display: grid;
    grid-template-columns: minmax(300px, 510px) minmax(300px, 780px);
    gap: 55px;
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: minmax(300px, 414px) minmax(300px, 870px);
    gap: 55px;
  }
}