@import '../../styles/vars';

.current {
  background: #d9d9d9;
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    padding: 20px;
    @include adaptiv-value('padding-top', 30, 15, 1);
    @include adaptiv-value('padding-bottom', 30, 15, 1);
    @media (max-width: 767px) {
      @include adaptiv-value('padding', 20, 15, 1);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__columns {
    display: flex;
    @include adaptiv-value('gap', 20, 15, 1);
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      justify-content: center;
      &:first-child {
        justify-content: space-evenly;
      }
    }
    @media (max-width: 400px) {
      &:first-child {
        justify-content: space-between;
      }
    }
    &:nth-child(odd) {
      @media (max-width: 767px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 110px);
    text-align: center;
    @media (min-width: 767px) {
      @include adaptiv-value('gap', 17, 14, 1);
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 20, 15, 1);
      }
    }
  }

  &__astro {}

  &__temp {
    font-weight: 700;
    @include adaptiv-value('font-size', 80, 25, 1);
    background: linear-gradient(48deg, #292929 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__feels {
    font-weight: 600;
    @include adaptiv-value('font-size', 20, 16, 1);
    color: #292929;
    span {
      font-weight: 600;
      @include adaptiv-value('font-size', 32, 20, 1);
      color: #292929;
    }
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 35, 20, 1);
    }
  }

  &__sunrise {}

  &__sunset {}

  &__image {
    @include adaptiv-value('width', 200, 100, 1);
    @include adaptiv-value('height', 200, 75, 1);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &__title {
    font-weight: 700;
    @include adaptiv-value('font-size', 32, 20, 1);
    text-align: center;
    color: #292929;
  }

  &__humidity {
    img {
      max-width: 100%;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 19, 15, 1);
      }
    }

    p:nth-of-type(1) {
      font-weight: 600;
      @include adaptiv-value('font-size', 20, 16, 1);
      color: #292929;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 20, 14, 1);
      }
    }

    p:nth-of-type(2) {
      font-weight: 500;
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #292929;
    }
  }

  &__wind {
    img {
      max-width: 100%;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 10, 8, 1);
      }
    }
    p:nth-of-type(1) {
      font-weight: 600;
      @include adaptiv-value('font-size', 20, 16, 1);
      text-align: center;
      color: #292929;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 20, 14, 1);
      }
    }
    
    p:nth-of-type(2) {
      font-weight: 500;
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #292929;
    }
  }

  &__pressure {
    img {
      max-width: 100%;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 10, 8, 1);
      }
    }
  
    p:nth-of-type(1) {
      font-weight: 600;
      @include adaptiv-value('font-size', 20, 16, 1);
      text-align: center;
      color: #292929;
  
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 20, 14, 1);
      }
    }
  
    p:nth-of-type(2) {
      font-weight: 500;
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #292929;
    }
  }

  &__uv {
    img {
      max-width: 100%;
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 10, 8, 1);
      }
    }
  
    p:nth-of-type(1) {
      font-weight: 600;
      @include adaptiv-value('font-size', 20, 16, 1);
      text-align: center;
      color: #292929;
  
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 20, 14, 1);
      }
    }
  
    p:nth-of-type(2) {
      font-weight: 500;
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #292929;
    }
  }
}

.sunrise-current {
  display: flex;
  align-items: center;
  @include adaptiv-value('gap', 11, 9, 1);
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 13, 10, 1);
  }
  &__image {}

  &__info {
    color: #292929;
    h4 {
      font-weight: 700;
      @include adaptiv-value('font-size', 20, 16, 1);
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 9, 8, 1);
      }
    }
   p {
      font-weight: 600;
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #292929;
    }
  }
}

.sunset-current {
  display: flex;
  align-items: center;
  @include adaptiv-value('gap', 11, 9, 1);
  &__image {}

  &__info {
    color: #292929;

   h4 {
      font-weight: 700;
      @include adaptiv-value('font-size', 20, 16, 1);
      &:not(:last-child) {
        @include adaptiv-value('margin-bottom', 9, 8, 1);
      }
    }

   p {
      font-weight: 600;
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #292929;
    }
  }
}