@import '../../styles/vars';

.days {
  background: #d9d9d9;
  border-radius: 30px;
  box-shadow: 10px 10px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    @media (max-width: 767px) {
      @include adaptiv-value('padding', 18, 15, 1);
    }
  }

  &__title {
    font-weight: 700;
    @include adaptiv-value('font-size', 32, 18, 1);
    text-align: center;
    color: #292929;
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 10, 8, 1);
    }
  }

  &__list {}

  &__item {}

  &__info {
    @include adaptiv-value('margin-top', 15, 10, 1);
    @include adaptiv-value('font-size', 30, 16, 1);
    color: red;
  }
}

.item-days {
  display: flex;
  align-items: center;
  @include adaptiv-value('gap', 25, 15, 1);
  &__icon {
    img {
      max-width: 100%;
    }
  }

  &__temp {
    font-weight: 700;
    @include adaptiv-value('font-size', 20, 16, 1);
    text-align: center;
    color: #292929;
  }

  &__day {
    font-weight: 700;
    @include adaptiv-value('font-size', 20, 16, 1);
    text-align: center;
    color: #292929;
  }
}